.wrapper {
  --search-boder-radius: 92px;
  --search-height: 46px;
  --search-top-space: 9px;
  --search-button-width: 52px;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Actions
.actions {
  display: flex;
  align-items: center;
  .action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-left: 16px;
    cursor: pointer;
    font-size: 2.2rem;
    padding: 0;
  }
}

.more-btn {
  font-size: 2.2rem;
  margin-left: 28px;
  background: transparent;
  padding: 4px 8px;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
}

// Dark mode button
.btn-darkmode {
  display: flex;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 32px;
  height: 18px;
  background-color: rgb(176, 176, 176);
  display: inline-flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 14px;
  height: 14px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.spacer {
  width: 33px;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(14px);
}

.checkbox:checked + .label {
  background-color: rgb(48, 222, 190);
}
